<div>
    <ul class="nav nav-tabs">
        <li *ngFor="let loc of currentConditionsByZip()" (click)="changeTab(loc.zip)" role="presentation"
            [ngClass]="{'active': loc.zip === location().zip}">
            <a href="#" class="tab-title">
                {{loc.data.name}} ({{loc.zip}})
                <span class="close" (click)="locationService.removeLocation(loc.zip)">&times;</span>
            </a>
        </li>
    </ul>

    <div class="tab-content" *ngIf="currentConditionsByZip().length > 0">
        <app-tab-item [item]="location()" (show)="showForecast($event)"
            [srcUrl]="weatherService.getWeatherIcon(location().data.weather[0].id)">
        </app-tab-item>
    </div>
</div>