<div>
    <!--TabContainerComponent (app-tab-container) is a generic and reusable presentation component
         that takes any data type and TemplateRef to display-->

    <!--To display tabs-->
    <app-tab-container [data]="tabsElements()" [contentRef]="tabsRef"></app-tab-container>

    <!-- To display current condition-->
    <app-tab-container [data]="location()" [contentRef]="tabContent"></app-tab-container>

    <!--Template of the tabs; it uses TabsComponent. TabsComponent is generic and reusable with any data type that has
    a title propertie-->
    <ng-template #tabsRef let-data>
        <app-tabs [elements]="data" (onTabChange)="changeTab($event)" (onTabRemove)="removeTab($event)"></app-tabs>
    </ng-template>

    <!--Template of current condition; it uses TabItemComponent-->
    <ng-template #tabContent let-data>
        <div class="tab-content" *ngIf="currentConditionsByZip().length > 0">
            <app-tab-item [item]="data" (show)="showForecast($event)"
                [srcUrl]="weatherService.getWeatherIcon(location().data.weather[0].id)">
            </app-tab-item>
        </div>
    </ng-template>
</div>